/* CSS Document */

body {
	background-color: #CCC;
}
.header{
	background-color: white;
	height: auto;
	padding: 10px;
	border-radius: 0px;
	z-index: -1;
}
.body{
	background-color: white;
	height: auto;
	padding: 10px;
	border-bottom-right-radius: 5px;
	border-bottom-left-radius: 5px;
}